html {
    padding: 15px;
}

body {
    background-image: linear-gradient(whitesmoke, rgb(232, 231, 255));
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rafa {
    height: 200px;
    margin-left: 15px;
    border-radius: 50%;
    border: 3px solid rgb(166, 166, 191);
}

table {
    border: 3px solid rgb(166, 166, 191);
    padding: 15px;
    margin: 15px;
}

.botao {
    font-size: medium;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: rgb(150, 163, 245);
    text-align: center;
}

h1 {
    background:-webkit-linear-gradient(#3d30b3, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bio {
    position: absolute;
    display: inline-block;
    margin-left: 25px;
    margin-top: 50px;
    padding: 10px;
}  